a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

p {
  font-size: 18px;
}

body {
  background-color: #C0C0C0;

}

h1 {
  text-align: center;
  color: darkblue;
  font-family: sans-serif;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
  background-color: gray;
}

h5 {
  font-size: 18px;
}

ol {
  line-height: 50px;
}

ul {
  line-height: 30px;
  font-size: 18px;
}
