a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

p {
  font-size: 18px;
}

h1 {
  text-align: center;
  color: #0099cc;
  font-family: sans-serif;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
  background-color: #81a594;
}

h5 {
  font-size: 18px;
}

body {
  background-color: #e6e6dc;
}

ol {
  line-height: 22px;
}

ul {
  line-height: 22px;
}

img {
  border: 3px solid black;
}
